body {
    background-color: white;
}

main {
    margin-top: 50px;
}

#sethousing {
    font-weight: bolder;
    margin-bottom: 2rem;
}

.jumbotron {
    background: lightgrey;
    color: black;
}

.jumbotron.btn {
    align-self: center;
    font-weight: bold;
}

.action-button {
    margin-top: 16px;
    width: 
}

.twitter-share-button {
    margin-top: 10px;
}

.dropdown {
    display: block;
    margin: 0 auto 0 auto;
    font-size: 16px;
    height: 36px;
}